/* reset */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}


.macro-contenitore {
    width: fit-content;
    margin: auto;
    position: relative;   
}




.micro-contenitore {
    display: inline-block;
    width: 400px;
    height: 650px;
    position: relative;
   
}

.foto  {
    height: 550px;
    position: absolute;
}

.primo-piano {
    z-index: 02;   
}

.secondo-piano {
    z-index: 01;
}

.cuore {
    z-index: 03;
    position: relative;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    height: 42px;
    width: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    left: 339px;
    top: 30px;
}

.primo-piano:hover {
    display:none;
}

.tag {
    position: relative;
    top:490px;
    left: -45.5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    z-index: 03;
}

.rossa {
    background-color: red;
} 

.verde {
    background-color: green;
}

.descrizione {
    position: relative;
    top: 520px;
}

.marca {
    display: block;
    font-size: 0.8em;
    font-weight: lighter;
}

.nome {
    display: block;
    font-weight: bolder;
}

.prezzo {
    font-size: 00.9em;
}

.attuale {
    color: red;
    font-weight: bold;
}